exportPattern("^[[:alpha:]]+")

export(bulge_loop)
export(bulgeLoopsPlot)
export(ct2dot)
export(external_loop)
export(externalLoopsPlot)
export(hairpin_loop)
export(hairpinLoopsPlot)
export(internal_loop)
export(internalLoopsPlot)
export(multi_branch_loop)
export(multiBranchLoopsPlot)
export(RNAcirPlot)
export(RNAstrCluster)
export(RNAstrPlot)
export(stem)
export(stemPlot)
export(strCompare)
export(strComparePlot)
importFrom(RRNA,makeCt)
importFrom(RRNA,ct2coord)
importFrom(RRNA,RNAPlot)
importFrom(circlize,circos.initialize)
importFrom(circlize,circos.trackPlotRegion)
importFrom(circlize,circos.text)
importFrom(circlize,circos.link)
importFrom(circlize,circos.clear)
importFrom(stats,pnorm)
importFrom(stats,sd)
